.editor-div {
    padding-top: 1%;
    padding-left: 2%;
    padding-bottom: 1%;
}
h4 {
    color: white;
}
#editor {
    text-align: left;
    overflow: auto;
    border: 2px solid #888;
    border-radius: 10px;
    resize: none;
}